n8n/generate-content-package-bridge.json
{
  "name": "Generate Content Package — Bridge (package loop)",
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "n1",
      "name": "N1 — Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "generate-content-package",
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-content-package",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "responseCode": 202,
        "responseData": "allEntries",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WEBHOOK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_WEBHOOK_SECRET)"
        }
      }
    },
    {
      "id": "n2a",
      "name": "N2a — Read weekly strategy",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [120, 0],
      "parameters": {
        "operation": "getAll",
        "tableId": "content_strategies",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'project_id=eq.' + $('N1 — Webhook Trigger').first().json.body.project_id + '&period_start=eq.' + $('N1 — Webhook Trigger').first().json.body.payload.week_start }}"
      },
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CRED",
          "name": "Supabase (service role)"
        }
      }
    },
    {
      "id": "n2",
      "name": "N2 — Read strategy items",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [240, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "notes": "Weekly Prepare: when payload.week_start is set, load ALL items for $('N2a').id. Production Run: production_run_id branch. Legacy: limit 1 without week_start.",
      "parameters": {
        "operation": "getAll",
        "tableId": "content_strategy_items",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ ($('N1 — Webhook Trigger').first().json.body.payload && $('N1 — Webhook Trigger').first().json.body.payload.production_run_id) ? ('project_id=eq.' + $('N1 — Webhook Trigger').first().json.body.project_id + '&brief->>production_run_id=eq.' + $('N1 — Webhook Trigger').first().json.body.payload.production_run_id + '&order=created_at.asc') : (($('N1 — Webhook Trigger').first().json.body.payload && $('N1 — Webhook Trigger').first().json.body.payload.week_start) ? ('project_id=eq.' + $('N1 — Webhook Trigger').first().json.body.project_id + '&strategy_id=eq.' + $('N2a — Read weekly strategy').first().json.id + '&order=created_at.asc') : ('project_id=eq.' + $('N1 — Webhook Trigger').first().json.body.project_id + (($('N1 — Webhook Trigger').first().json.body.payload && $('N1 — Webhook Trigger').first().json.body.payload.funnel_stage) ? ('&funnel_stage=eq.' + $('N1 — Webhook Trigger').first().json.body.payload.funnel_stage) : '') + '&order=created_at.asc&limit=1')) }}"
      },
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CRED",
          "name": "Supabase (service role)"
        }
      }
    },
    {
      "id": "nloop",
      "name": "N2b — Loop over packages",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [464, 0],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "n3",
      "name": "N3 — Generate Content Package",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [704, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://fenrikmarketing.vercel.app/api/n8n/generate-content-package",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"project_id\": $('N1 — Webhook Trigger').first().json.body.project_id, \"strategy_item_id\": $json.id, \"week_start\": ($('N1 — Webhook Trigger').first().json.body.payload && $('N1 — Webhook Trigger').first().json.body.payload.week_start) ? $('N1 — Webhook Trigger').first().json.body.payload.week_start : undefined } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_CALLBACK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_CALLBACK_SECRET)"
        }
      }
    },
    {
      "id": "n4",
      "name": "N4 — Start Video Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [944, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://fenrikmarketing.vercel.app/api/n8n/start-video-job",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"project_id\": $('N1 — Webhook Trigger').first().json.body.project_id, \"content_package_id\": ($json.data ? $json.data.packageId : null), \"video_job_id\": ($json.data ? $json.data.videoJobId : null) } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_CALLBACK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_CALLBACK_SECRET)"
        }
      }
    },
    {
      "id": "err1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 240],
      "parameters": {}
    },
    {
      "id": "err2",
      "name": "Error — error-callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 240],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "POST",
        "url": "https://fenrikmarketing.vercel.app/api/n8n/error-callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"workflow\": \"generate_content_package\", \"step\": ($json.execution && $json.execution.lastNodeExecuted) ? $json.execution.lastNodeExecuted : \"unknown\", \"error_type\": \"workflow_error\", \"error_message\": ($json.execution && $json.execution.error && $json.execution.error.message) ? $json.execution.error.message : \"Unknown error\", \"project_id\": ($json.execution && $json.execution.data && $json.execution.data.resultData && $json.execution.data.resultData.runData && $json.execution.data.resultData.runData['N1 — Webhook Trigger']) ? $json.execution.data.resultData.runData['N1 — Webhook Trigger'][0].data.main[0][0].json.body.project_id : \"\" } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_CALLBACK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_CALLBACK_SECRET)"
        }
      }
    }
  ],
  "connections": {
    "N1 — Webhook Trigger": {
      "main": [[{ "node": "N2a — Read weekly strategy", "type": "main", "index": 0 }]]
    },
    "N2a — Read weekly strategy": {
      "main": [[{ "node": "N2 — Read strategy items", "type": "main", "index": 0 }]]
    },
    "N2 — Read strategy items": {
      "main": [[{ "node": "N2b — Loop over packages", "type": "main", "index": 0 }]]
    },
    "N2b — Loop over packages": {
      "main": [
        [],
        [{ "node": "N3 — Generate Content Package", "type": "main", "index": 0 }]
      ]
    },
    "N3 — Generate Content Package": {
      "main": [[{ "node": "N4 — Start Video Job", "type": "main", "index": 0 }]]
    },
    "N4 — Start Video Job": {
      "main": [[{ "node": "N2b — Loop over packages", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Error — error-callback", "type": "main", "index": 0 }]]
    }
  }
}
