n8n/generate-content-package-bridge.json
{
  "name": "Generate Content Package — Bridge (package loop)",
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "n1",
      "name": "N1 — Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "generate-content-package",
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-content-package",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "responseCode": 202,
        "responseData": "allEntries",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WEBHOOK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_WEBHOOK_SECRET)"
        }
      }
    },
    {
      "id": "n1b",
      "name": "N1b — Production run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [120, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "production-run-id",
              "leftValue": "={{ $('N1 — Webhook Trigger').first().json.body.payload.production_run_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n1c",
      "name": "N1c — Weekly week_start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [120, 160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "week-start",
              "leftValue": "={{ $('N1 — Webhook Trigger').first().json.body.payload.week_start }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n0",
      "name": "N0 — Invalid payload",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [120, 320],
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "generate_content_package payload must include production_run_id or week_start"
      }
    },
    {
      "id": "n2p",
      "name": "N2p — Read production strategy items",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [360, -120],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "parameters": {
        "operation": "getAll",
        "tableId": "content_strategy_items",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'project_id=eq.' + $('N1 — Webhook Trigger').first().json.body.project_id + '&brief->>production_run_id=eq.' + $('N1 — Webhook Trigger').first().json.body.payload.production_run_id + '&order=created_at.asc' }}"
      },
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CRED",
          "name": "Supabase (service role)"
        }
      }
    },
    {
      "id": "n2a",
      "name": "N2a — Read weekly strategy",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [360, 160],
      "parameters": {
        "operation": "getAll",
        "tableId": "content_strategies",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'project_id=eq.' + $('N1 — Webhook Trigger').first().json.body.project_id + '&period_start=eq.' + $('N1 — Webhook Trigger').first().json.body.payload.week_start }}"
      },
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CRED",
          "name": "Supabase (service role)"
        }
      }
    },
    {
      "id": "n2w",
      "name": "N2w — Read weekly strategy items",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [560, 160],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "parameters": {
        "operation": "getAll",
        "tableId": "content_strategy_items",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ 'project_id=eq.' + $('N1 — Webhook Trigger').first().json.body.project_id + '&strategy_id=eq.' + $('N2a — Read weekly strategy').first().json.id + '&order=created_at.asc' }}"
      },
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CRED",
          "name": "Supabase (service role)"
        }
      }
    },
    {
      "id": "nloop",
      "name": "N2b — Loop over packages",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [760, 0],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "n3",
      "name": "N3 — Generate Content Package",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://fenrikmarketing.vercel.app/api/n8n/generate-content-package",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"project_id\": $('N1 — Webhook Trigger').first().json.body.project_id, \"strategy_item_id\": $json.id, \"week_start\": ($('N1 — Webhook Trigger').first().json.body.payload && $('N1 — Webhook Trigger').first().json.body.payload.week_start) ? $('N1 — Webhook Trigger').first().json.body.payload.week_start : undefined } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_CALLBACK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_CALLBACK_SECRET)"
        }
      }
    },
    {
      "id": "n4",
      "name": "N4 — Start Video Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://fenrikmarketing.vercel.app/api/n8n/start-video-job",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"project_id\": $('N1 — Webhook Trigger').first().json.body.project_id, \"content_package_id\": ($json.data ? $json.data.packageId : null), \"video_job_id\": ($json.data ? $json.data.videoJobId : null) } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_CALLBACK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_CALLBACK_SECRET)"
        }
      }
    },
    {
      "id": "n5b",
      "name": "N5b — Action run id?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1480, -160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "action-run-id",
              "leftValue": "={{ $('N1 — Webhook Trigger').first().json.body.payload.action_run_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n5",
      "name": "N5 — Action run success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, -160],
      "parameters": {
        "method": "POST",
        "url": "https://fenrikmarketing.vercel.app/api/n8n/action-run-status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"run_id\": $('N1 — Webhook Trigger').first().json.body.payload.action_run_id, \"status\": \"success\", \"message\": \"Content packages generated.\", \"n8n_execution_id\": String($execution.id) } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_CALLBACK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_CALLBACK_SECRET)"
        }
      }
    },
    {
      "id": "err1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 480],
      "parameters": {}
    },
    {
      "id": "err2",
      "name": "Error — error-callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 480],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "POST",
        "url": "https://fenrikmarketing.vercel.app/api/n8n/error-callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"workflow\": \"generate_content_package\", \"step\": ($json.execution && $json.execution.lastNodeExecuted) ? $json.execution.lastNodeExecuted : \"unknown\", \"error_type\": \"workflow_error\", \"error_message\": ($json.execution && $json.execution.error && $json.execution.error.message) ? $json.execution.error.message : \"Unknown error\", \"project_id\": ($json.execution && $json.execution.data && $json.execution.data.resultData && $json.execution.data.resultData.runData && $json.execution.data.resultData.runData['N1 — Webhook Trigger']) ? $json.execution.data.resultData.runData['N1 — Webhook Trigger'][0].data.main[0][0].json.body.project_id : \"\", \"action_run_id\": ($json.execution && $json.execution.data && $json.execution.data.resultData && $json.execution.data.resultData.runData && $json.execution.data.resultData.runData['N1 — Webhook Trigger']) ? $json.execution.data.resultData.runData['N1 — Webhook Trigger'][0].data.main[0][0].json.body.payload.action_run_id : \"\" } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_CALLBACK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_CALLBACK_SECRET)"
        }
      }
    }
  ],
  "connections": {
    "N1 — Webhook Trigger": {
      "main": [[{ "node": "N1b — Production run?", "type": "main", "index": 0 }]]
    },
    "N1b — Production run?": {
      "main": [
        [{ "node": "N2p — Read production strategy items", "type": "main", "index": 0 }],
        [{ "node": "N1c — Weekly week_start?", "type": "main", "index": 0 }]
      ]
    },
    "N1c — Weekly week_start?": {
      "main": [
        [{ "node": "N2a — Read weekly strategy", "type": "main", "index": 0 }],
        [{ "node": "N0 — Invalid payload", "type": "main", "index": 0 }]
      ]
    },
    "N2p — Read production strategy items": {
      "main": [[{ "node": "N2b — Loop over packages", "type": "main", "index": 0 }]]
    },
    "N2a — Read weekly strategy": {
      "main": [[{ "node": "N2w — Read weekly strategy items", "type": "main", "index": 0 }]]
    },
    "N2w — Read weekly strategy items": {
      "main": [[{ "node": "N2b — Loop over packages", "type": "main", "index": 0 }]]
    },
    "N2b — Loop over packages": {
      "main": [
        [{ "node": "N5b — Action run id?", "type": "main", "index": 0 }],
        [{ "node": "N3 — Generate Content Package", "type": "main", "index": 0 }]
      ]
    },
    "N5b — Action run id?": {
      "main": [
        [{ "node": "N5 — Action run success", "type": "main", "index": 0 }],
        []
      ]
    },
    "N3 — Generate Content Package": {
      "main": [[{ "node": "N4 — Start Video Job", "type": "main", "index": 0 }]]
    },
    "N4 — Start Video Job": {
      "main": [[{ "node": "N2b — Loop over packages", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Error — error-callback", "type": "main", "index": 0 }]]
    }
  }
}
