n8n/generate-content-package-bridge.json
{
  "name": "Generate Content Package — Bridge (package loop)",
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "n1",
      "name": "N1 — Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "generate-content-package",
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-content-package",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "responseCode": 202,
        "responseData": "allEntries",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WEBHOOK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_WEBHOOK_SECRET)"
        }
      }
    },
    {
      "id": "n2",
      "name": "N2 — Read strategy items",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "notes": "Production Run V3: when payload.production_run_id is present, fetch ALL strategy items the run seeded (one per package, brief->>production_run_id = run id), oldest first. Otherwise fall back to the legacy single-item behaviour (limit 1, optional funnel_stage filter).",
      "parameters": {
        "operation": "getAll",
        "tableId": "content_strategy_items",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ ($json.body.payload && $json.body.payload.production_run_id) ? ('project_id=eq.' + $json.body.project_id + '&brief->>production_run_id=eq.' + $json.body.payload.production_run_id + '&order=created_at.asc') : ('project_id=eq.' + $json.body.project_id + (($json.body.payload && $json.body.payload.funnel_stage) ? ('&funnel_stage=eq.' + $json.body.payload.funnel_stage) : '') + '&order=created_at.asc&limit=1') }}"
      },
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CRED",
          "name": "Supabase (service role)"
        }
      }
    },
    {
      "id": "nloop",
      "name": "N2b — Loop over packages",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [700, 300],
      "notes": "Iterate the seeded strategy items one at a time so each package is generated by its own (long-running, off-Vercel) call. batchSize 1 keeps Vercel calls sequential and under the 300s function budget.",
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "n3",
      "name": "N3 — Generate Content Package",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "notes": "Generates ONE package for the CURRENT strategy item ($json.id). onError=continue so a single failed package does not abort the rest of the run; the failure stays visible because no content_items are produced for that package (its run item never reaches completed).",
      "parameters": {
        "method": "POST",
        "url": "https://fenrikmarketing.vercel.app/api/n8n/generate-content-package",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"project_id\": $('N1 — Webhook Trigger').first().json.body.project_id, \"strategy_item_id\": $json.id } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_CALLBACK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_CALLBACK_SECRET)"
        }
      }
    },
    {
      "id": "n4",
      "name": "N4 — Start Video Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "notes": "Starts the shared package video for the package N3 just created. Skipped automatically (no videoJobId) for text-only packages. Loops back to N2b for the next package.",
      "parameters": {
        "method": "POST",
        "url": "https://fenrikmarketing.vercel.app/api/n8n/start-video-job",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"project_id\": $('N1 — Webhook Trigger').first().json.body.project_id, \"content_package_id\": ($json.data ? $json.data.packageId : null), \"video_job_id\": ($json.data ? $json.data.videoJobId : null) } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_CALLBACK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_CALLBACK_SECRET)"
        }
      }
    },
    {
      "id": "err1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [480, 540],
      "parameters": {}
    },
    {
      "id": "err2",
      "name": "Error — error-callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 540],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "POST",
        "url": "https://fenrikmarketing.vercel.app/api/n8n/error-callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"workflow\": \"generate_content_package\", \"step\": ($json.execution && $json.execution.lastNodeExecuted) ? $json.execution.lastNodeExecuted : \"unknown\", \"error_type\": \"workflow_error\", \"error_message\": ($json.execution && $json.execution.error && $json.execution.error.message) ? $json.execution.error.message : \"Unknown error\", \"project_id\": ($json.execution && $json.execution.data && $json.execution.data.resultData && $json.execution.data.resultData.runData && $json.execution.data.resultData.runData['N1 — Webhook Trigger']) ? $json.execution.data.resultData.runData['N1 — Webhook Trigger'][0].data.main[0][0].json.body.project_id : \"\" } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_CALLBACK_SECRET_CRED",
          "name": "x-n8n-secret (N8N_CALLBACK_SECRET)"
        }
      }
    }
  ],
  "connections": {
    "N1 — Webhook Trigger": {
      "main": [ [ { "node": "N2 — Read strategy items", "type": "main", "index": 0 } ] ]
    },
    "N2 — Read strategy items": {
      "main": [ [ { "node": "N2b — Loop over packages", "type": "main", "index": 0 } ] ]
    },
    "N2b — Loop over packages": {
      "main": [
        [],
        [ { "node": "N3 — Generate Content Package", "type": "main", "index": 0 } ]
      ]
    },
    "N3 — Generate Content Package": {
      "main": [ [ { "node": "N4 — Start Video Job", "type": "main", "index": 0 } ] ]
    },
    "N4 — Start Video Job": {
      "main": [ [ { "node": "N2b — Loop over packages", "type": "main", "index": 0 } ] ]
    },
    "Error Trigger": {
      "main": [ [ { "node": "Error — error-callback", "type": "main", "index": 0 } ] ]
    }
  }
}
